
@media screen and (min-width: 480px) and (max-width:768px) {
  .container {
    display:block;
    /* display:flex;
    flex-wrap: nowrap;
    flex-direction:column;
    width:100%; */
  }
  
  .box {
    border: .5px solid;
    background: #d9d9d9;
    padding: 4%;
    width:100%;

  }

  /* .flex-row-container {
    flex-direction: row;
    flex-wrap: nowrap;
    display:flex;
  } */

  .box:nth-child(n+5):nth-child(-n+8) {
  /* flex-direction: row;
    flex-wrap: nowrap; */
    float:left;
    width:41.8%;
    }
  .box:nth-child(9) {
      float:left;
      }
  #box-a {
    height: 75px;
    /* height:10%; */

  }

  #box-b {
    /* height: 20%; */
    height:150px;
  }

  #box-c, #box-d {
    height: 125px;
  }

  #box-e, #box-f, #box-g, #box-h {
    height: 250px;
  }

  #box-i {
    height: 80px;
  }
  }

  @media screen and (min-width: 768px) {
    .container {
      /* display:flex;
      flex-wrap: wrap;
      flex-direction:row; */
      max-width:960px;
    }
    
    .box {
      border: .5px solid;
      float:left;
      background: #d9d9d9;
      padding: 4%;
    }

    #box-a {
      height: 100px;
      width:100vw;
    }
  
    /* #box-b {
      height: 150px;
    }
  
    #box-c, #box-d {
      height: 125px;
    }
  
    #box-e, #box-f, #box-g, #box-h {
      height: 250px;
    }
  
    #box-i {
      height: 80px;
    } */
  }