.box {
  float:left;
  position:relative;
}

.container h2 {
  position:absolute;
  top:33.33%;
  left:50%;
}

#box-a {
  background:#c9ccff;
}

#box-b {
  background:#b7ffa3;
}

#box-c {
  background:#ffdc9b;
}

#box-d {
  background:#fc99ad;
}

#box-e {
  background:#c399fc;
}

#box-f {
  background:#99fcf7;
}

#box-g {
  background:#44ff8c;
}

#box-h {
  background:#ffd53d
}

#box-i {
  background:#a1d2fc;
}