.box {
  float:left;
  position:relative;
  border:.5px solid #000;
}

#box-a {
  background:#c9ccff;
}

#box-b {
  background:#b7ffa3;
}

#box-c {
  background:#ffdc9b;
}

#box-d {
  background:#fc99ad;
}

#box-e {
  background:#c399fc;
}

#box-f {
  background:#99fcf7;
}

#box-g {
  background:#44ff8c;
}

#box-h {
  background:#ffd53d
}

#box-i {
  background:#a1d2fc;
}

@media screen and (max-width:768px) {
  /* total height: 1055px, total width: 480px */
  .box {
    width:100vw; 
  }

  .box:nth-child(n+5):nth-child(-n+8) {
    width:50%;
  }

  #box-a {
    /* height:7.2vh; */
    height:75px;
  }
  
  #box-b {
    /* height:14.4vh; */
    height:150px;
  }

  #box-c, #box-d {
  /* height:11.8vh; */
  height:125px;
  }

  #box-e, #box-f, #box-g, #box-h {
    /* height: 23.6vh; */
    height:250px;
  }

  #box-i {
    /* height: 7.58vh; */
    height:80px;
  }
}

@media screen and (min-width: 768px) {
  body {
    width: 960px;
  }

  #box-a {
    height:14.28vh;
    width:100%;
  }

  #box-b {
    height:85.72vh;
    width:20.83%;
  }
  
    
  #box-c, #box-d {
    height:28.57vh;
    width:39.585%;
  }

  #box-e, #box-f, #box-g, #box-h {
    width:19.7925%;
    height:35.71vh;
  }
  
  #box-i {
    height:21.42vh;
    width:79.17%;
  }
}